<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="login-wrapper">
    <!--login-->
  <ion-card class="login-frame">
    <ion-card-content>
      <form (ngSubmit)="pruebaLogin()">
        <ion-item>
          <ion-input label="Correo Electrónico" labelPlacement="stacked" type="email" [(ngModel)]="correo" name="email" required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Contraseña" labelPlacement="stacked" type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-button type="submit" [disabled]="!correo || !password">Iniciar Sesión</ion-button>
        </div>
      </form>
      <!--recuperar contraseña-->
      <div class="ion-text-center">
        <a (click)="placeholder()" class="password-link">¿Olvidaste tu contraseña?</a>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="ion-text-center">
    <ion-button (click)="placeholder()">Registrarse</ion-button>
  </div>
  <!-- seleccionar idioma -->
  <ion-item>
    <ion-select label="Cambiar Idioma / Change Language" label-placement="stacked" [(ngModel)]="selectedLanguage" interface="popover">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Español</ion-select-option>
      <!-- mas idiomas? -->
    </ion-select>
  </ion-item>
  </div>
</ion-content>
