<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reserva Exitosa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles de la Reserva</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>
            Fecha de entrada:
            <h2>MM DD AAAA</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Fecha de salida:
            <h2>MM DD AAAA</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Precio total:
            <h2>$XXXX</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>