<ion-header>
  <ion-toolbar color="success">
    <ion-title>Reserva Exitosa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles de la Reserva</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>
            Habitación:
            <h2>{{ultimaReserva?.HABITACION_ID}}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Fecha de entrada:
            <h2>{{ultimaReserva?.FECHA_ENTRADA}}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Fecha de salida:
            <h2>{{ultimaReserva?.FECHA_SALIDA}}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Cantidad de Personas:
            <h2>{{ultimaReserva?.CANTIDAD_PERSONAS}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
