<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="realizarReserva()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información de la Habitación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <p position="stacked">Habitación: {{habitacionId}}</p>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col size="12" size-lg="6">
              <ion-item>
                <ion-label position="stacked">Fecha Entrada:</ion-label>
                <ion-datetime
                  displayFormat="DD MMM YYYY"
                  pickerFormat="DD MMM YYYY"
                  [(ngModel)]="datosReserva.fecha_entrada"
                  name="fecha_entrada"
                  required
                  [min]="today"
                  [max]="twoYearsFromNow"
                >
                </ion-datetime>
              </ion-item>
            </ion-col>

            <ion-col size="12" size-lg="6">
              <ion-item>
                <ion-label position="stacked">Fecha Salida:</ion-label>
                <ion-datetime
                  displayFormat="DD MMM YYYY"
                  pickerFormat="DD MMM YYYY"
                  [(ngModel)]="datosReserva.fecha_salida"
                  name="fecha_salida"
                  required
                  [min]="datosReserva.fecha_entrada"
                  [max]="twoYearsFromNow"
                >
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item>
          <ion-label position="stacked">Cantidad de personas:</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="datosReserva.cantidad_personas"
            name="cantidad_personas"
            required
          >
          </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button type="submit" expand="block">Reservar</ion-button>
  </form>
</ion-content>
