ion-item {
    margin-top: 20px; /* Spacing between the register button and language dropdown */
  }

  .login-frame {
    padding: 16px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .password-link {
    color: var(--ion-color-primary);
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
  }
/* Wrapper for controlling the width of the form */
.login-wrapper {
    width: 100%; /* Default to full width for mobile */
    max-width: 600px; /* Set a max width to prevent excessive stretching */
    margin: 0 auto; /* Center the wrapper */
  }
  
  /* Specific styles for desktop screens */
  @media (min-width: 768px) {
    .login-wrapper {
      width: 50%; /* Take central 50% of the screen on wider displays */
    }
  }